::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: rgb(50, 50, 247);
}

* {
  margin: 0;
  padding: 0;
}

html {
  overflow: hidden;
}

body {
  display: flex;
  flex-direction: row;
  height: 100vh;
  min-width: 100vw;
  align-items: center;
  justify-content: flex-start;
  font-family: "Roboto", sans-serif;
}

.add-event-modal,
.edit-event-modal {
  z-index: 3;
  border: 1px solid rgb(50, 50, 247);
  position: absolute;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: transparent;
  backdrop-filter: blur(4px);
}

.add-event-modal p,
.edit-event-modal p {
  font-size: 1.5em;
  color: grey;
}

#add-modal-close-btn,
#edit-modal-close-btn {
  cursor: pointer;
  position: absolute;
  right: 10px;
  top: 10px;
  color: rgb(50, 50, 247);
}

#add-event-modal #add-event-form,
#edit-event-modal #edit-event-form {
  width: 80%;
  height: 60%;
  border: 1px solid grey;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

textarea,
.form-title {
  padding: 5px;
  margin-bottom: 10px;
  font-size: 1.25em;
  outline: none;
  border: 1px solid grey;
  resize: none;
  width: 50%;
  font-family: "Roboto", sans-serif;
  color: rgb(40, 40, 40);
}

.add-btn {
  margin-bottom: 5px;
  padding: 5px;
  border: 1px solid rgb(50, 50, 247);
  outline: none;
  background: rgb(50, 50, 247);
  color: white;
  border-radius: 5px;
  transition-duration: 0.3s;
  cursor: pointer;
}

.add-btn:hover {
  border: 1px solid rgb(50, 50, 247);
  background: white;
  color: rgb(50, 50, 247);
}

.input-group {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.input-group input {
  width: 50%;
  margin-bottom: 5px;
}

select {
  width: 50%;
  margin-bottom: 10px;
  padding: 5px;
}

fieldset {
  width: 50%;
  margin: 10px;
  padding: 5px;
}

.btn-group {
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.submit-btn {
  cursor: pointer;
  width: 40%;
  padding: 10px;
  background-color: rgb(50, 50, 247);
  border: none;
  outline: none;
  border-radius: 5px;
  color: white;
  transition-duration: 0.3s;
}

#add-event-form .cancel-btn,
#delete-event {
  background-color: rgb(255, 112, 112);
  cursor: pointer;
  width: 40%;
  padding: 10px;
  border: none;
  outline: none;
  border-radius: 5px;
  color: white;
  transition-duration: 0.3s;
}

.buttons-container {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#delete-event {
  background-color: rgb(237, 156, 156);
}

#delete-event:hover {
  background-color: rgb(237, 145, 145);
}

form button:hover {
  background-color: rgb(143, 208, 230);
}

.calendar-container {
  width: 80vw;
  margin-left: 10vw;
  margin-right: 10vw;
}

.month-title {
  font-size: 1.5em;
  width: 80vw;
  padding: 10px;
  padding-left: 0px;
  color: rgb(50, 50, 247);
}

.month-container {
  display: grid;
  width: 100%;
  height: 80vh;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  gap: 0.5em;
}

.day {
  border-radius: 5px;
  border: 1px solid rgb(50, 50, 247);
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  cursor: pointer;
  overflow-x: hidden;
  overflow-y: auto;
  transition-duration: 0.1s;
  position: relative;
}

.day:hover {
  background-color: rgb(248, 248, 253);
  border: 1px solid rgb(191, 191, 253);
}

.day:after {
  content: "+";
  color: white;
  position: absolute;
  bottom: 5px;
  right: 5px;
  transition-duration: 0.3s;
}

.day:hover:after {
  color: #3279a8;
}

.event {
  text-align: justify;
  word-break: break-word;
  font-size: 0.75em;
  width: 90%;
  margin: 1px;
  padding: 5px;
  border-radius: 5px;
  background-color: rgb(173, 173, 255);
  color: white;
}

.event:hover {
  background-color: rgb(124, 124, 251);
}

.arrows-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.arrows-container p {
  cursor: pointer;
  padding-bottom: 10px;
  color: rgb(50, 50, 247);
  user-select: none;
}

.arrows-container p:hover {
  text-decoration: underline;
}

.hidden {
  display: none;
}
